In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/heart.csv')

In [4]:
df.head(2)

,age,sex,cp,trestbps,Chol,fbs,restecg000,thalach,exang,Oldpeak,slope,ca,thal,target000
0,63,1,3,145.0,233.0,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130.0,250.0,0,1,187,0,3.5,0,0,2,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age           303 non-null int64
sex           303 non-null int64
cp            303 non-null int64
trestbps      302 non-null float64
Chol          302 non-null float64
fbs           303 non-null int64
restecg000    303 non-null int64
thalach       303 non-null int64
exang         303 non-null int64
Oldpeak       303 non-null float64
slope         303 non-null int64
ca            303 non-null int64
thal          303 non-null int64
target000     303 non-null int64
dtypes: float64(3), int64(11)
memory usage: 33.3 KB

In [6]:
df.corr()

,age,sex,cp,trestbps,Chol,fbs,restecg000,thalach,exang,Oldpeak,slope,ca,thal,target000
age,1.000000,-0.098447,-0.068653,0.278603,0.210184,0.121308,-0.116211,-0.398522,0.096801,0.210013,-0.168814,0.276326,0.068001,-0.225439
sex,-0.098447,1.000000,-0.049353,-0.060256,-0.203467,0.045032,-0.058196,-0.044020,0.141664,0.096093,-0.030711,0.118261,0.210041,-0.280937
cp,-0.068653,-0.049353,1.000000,0.049931,-0.076916,0.094444,0.044421,0.295762,-0.394280,-0.149230,0.119717,-0.181053,-0.161736,0.433798
trestbps,0.278603,-0.060256,0.049931,1.000000,0.118069,0.176793,-0.112359,-0.045938,0.066186,0.194496,-0.123077,0.099976,0.061154,-0.143224
Chol,0.210184,-0.203467,-0.076916,0.118069,1.000000,0.012025,-0.148677,-0.007480,0.065017,0.051324,-0.001025,0.071441,0.097402,-0.082648
fbs,0.121308,0.045032,0.094444,0.176793,0.012025,1.000000,-0.084189,-0.008567,0.025665,0.005747,-0.059894,0.137979,-0.032019,-0.028046
restecg000,-0.116211,-0.058196,0.044421,-0.112359,-0.148677,-0.084189,1.000000,0.044123,-0.070733,-0.058770,0.093045,-0.072042,-0.011981,0.137230
thalach,-0.398522,-0.044020,0.295762,-0.045938,-0.007480,-0.008567,0.044123,1.000000,-0.378812,-0.344187,0.386784,-0.213177,-0.096439,0.421741
exang,0.096801,0.141664,-0.394280,0.066186,0.065017,0.025665,-0.070733,-0.378812,1.000000,0.288223,-0.257748,0.115739,0.206754,-0.436757
Oldpeak,0.210013,0.096093,-0.149230,0.194496,0.051324,0.005747,-0.058770,-0.344187,0.288223,1.000000,-0.577537,0.222682,0.210244,-0.430696
slope,-0.168814,-0.030711,0.119717,-0.123077,-0.001025,-0.059894,0.093045,0.386784,-0.257748,-0.577537,1.000000,-0.080155,-0.104764,0.345877
ca,0.276326,0.118261,-0.181053,0.099976,0.071441,0.137979,-0.072042,-0.213177,0.115739,0.222682,-0.080155,1.000000,0.151832,-0.391724
thal,0.068001,0.210041,-0.161736,0.061154,0.097402,-0.032019,-0.011981,-0.096439,0.206754,0.210244,-0.104764,0.151832,1.000000,-0.344029
target000,-0.225439,-0.280937,0.433798,-0.143224,-0.082648,-0.028046,0.137230,0.421741,-0.436757,-0.430696,0.345877,-0.391724,-0.344029,1.000000